.background{
    background-image: url("../images/w.jpeg");
    background-size: cover;
    height: 200vh;
}
<<<<<<< HEAD
=======

>>>>>>> b8274ebe3a57b914d8c2c7a052825ee984f12806
#head2 {
    font-family: 'Teko', sans-serif;
    font-size: 140px;
    text-align: center;
    color:rgba(245, 242, 241, 0.705);    
    letter-spacing: 1px;
    text-shadow: 0px 0px 30px rgb(238, 255, 0), 0px 0px 30px rgb(5, 248, 98);
}
<<<<<<< HEAD
=======

>>>>>>> b8274ebe3a57b914d8c2c7a052825ee984f12806
#signBox {
    box-shadow: 0 0 8px 3px rgb(223, 243, 245);
    background-color: rgba(0, 0, 0, 0.39);
    height: 647px;
    color:rgb(28, 184, 67);
    font-size: 20px;
    background-color: rgba(0, 0, 0, 0.39);
}
<<<<<<< HEAD
=======

>>>>>>> b8274ebe3a57b914d8c2c7a052825ee984f12806
#subBtn {
    float:right;
    margin-top: 0px;
    font-size: 20px;
    font-family: 'Questrial', sans-serif;
}